# 相対パス練習

In [1]:
import pandas as pd

In [2]:
# ノートブックの一つ上の階層にある input フォルダに CSV ファイルが入っている場合
df_input = pd.read_csv("../input/iris_input.csv")
df_input.head()

    a1   a2   a3   a4    id        label
0  5.1  3.5  1.4  0.2  id_1  Iris-setosa
1  4.9  3.0  1.4  0.2  id_2  Iris-setosa
2  4.7  3.2  1.3  0.2  id_3  Iris-setosa
3  4.6  3.1  1.5  0.2  id_4  Iris-setosa
4  5.0  3.6  1.4  0.2  id_5  Iris-setosa

In [3]:
# ノートブックのフォルダの中にある data フォルダに CSV ファイルが入っている場合
df_data = pd.read_csv("./data/iris_data2.csv")
# もしくは
# df_data = pd.read_csv("/data/iris_data2.csv")
# df_data = pd.read_csv("data/iris_data2.csv")
df_data.head()

    a1   a2   a3   a4    id        label
0  5.1  3.5  1.4  0.2  id_1  Iris-setosa
1  4.9  3.0  1.4  0.2  id_2  Iris-setosa
2  4.7  3.2  1.3  0.2  id_3  Iris-setosa
3  4.6  3.1  1.5  0.2  id_4  Iris-setosa
4  5.0  3.6  1.4  0.2  id_5  Iris-setosa